<div id="page">
    <div class="app-page">

        <div class="get-started-now-bg"></div>
        <div class="app-content app-content-outer content-move">
            <div class="conditions-index app-color-mark">
                <div class="app-color-mark content-wrapper text-page">
                    <h3 class="main-caption">Frequently Asked Questions</h3>

                    <p class="caption">What is QBis</p>

                    <p class="text">
                        <b>"QBis" </b>is a cloud-hosted SLP (Smart learning platform) that can be used by institutes, accredited universities/colleges and enterprise to facilitate training and learning.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>