<div class="modal-demo" data-ng-controller="MainController">
    <section data-ng-include="'resources/app/js/view/header.html'" class="block" style="padding-top: 0;" id="homesection"></section>
    <section data-ng-include="'resources/app/js/view/key-features.html'" class="block kfeatures" id="keyfeaturessection"></section>
    <section data-ng-include="'resources/app/js/view/benefits.html'" class="block benefits" id="benefitssection"></section>
    <section data-ng-include="'resources/app/js/view/blogs.html'" class="block blogs" id="blogsection"></section>
    <section data-ng-include="'resources/app/js/view/contact-us.html'" class="block contactus" id="contactussection"></section>
    <footer data-ng-include="'resources/app/js/view/footer.html'" class="block padding-btm-0" id="footersection"></footer>
</div>
