<div id="page">
    <div class="app-page">

        <div class="get-started-now-bg"></div>
        <div class="app-content app-content-outer content-move">
            <div class="conditions-index app-color-mark">
                <div class="app-color-mark content-wrapper text-page">
                    <h3 class="main-caption">Privacy Policy</h3>
                    <p class="date conditions">Effective date: Sept 28, 2016</p>
                    <p class="caption">Introduction</p>

                    <p class="text">We at Bellurbis Technologies are committed to respecting your online privacy, and recognize your need for appropriate protection and management of personal information you share with us in the course of your use of the QBis website. Personal Information means any information that may be used to identify an individual including, but not limited to, a first and last name, a home or other physical address and an email address or other contact information, whether at work or at home, as well as any other information about that individual.</p>

                    <p class="caption">Policy Change</p>

                    <p class="text">Please review this Privacy Policy periodically as we may update it from time to time. Each time you use QBis or provide us with information, you are accepting and agreeing to the provisions of this Privacy Policy effective on the day of use of the Services or providing us with information. By using QBis you are expressly and affirmatively consenting to our use and disclosure of the information that you provide, and consenting to receive emails, as described in this Privacy Policy. Note that you may not opt out of QBis Services related emails.</p>

                    <p class="caption">Your Personal Information</p>
                    <p class="text">We collect Personal Information from you when you open an Account with us, or use our Site. We may use that Personal Information as follows: a. to identify you; b. to establish and maintain a responsible relationship with you; c. to otherwise know you, so that QBis can better understand your needs and the courses or other products and/or services that you may be in the business of supplying or needing, depending on your circumstances; d. to protect you and QBis against error and fraud; e. to manage and develop QBis businesses and operations; and f. to comply with legal and regulatory requirements.</p>

                    <p class="caption">
                        Device Identifiers
                        <br>
                    </p>
                    <p class="text">When you use a mobile device like a phone or tablet to access Services, we may access, collect, monitor, store on your device and/or remotely store one or more “Device Identifiers”. Device Identifiers are small data files or similar data structures stored on or associated with your mobile device, which uniquely identify your mobile device. Device Identifiers may be data stored in connection with the device hardware, data stored in connection with the device’s operating system or other software, or data sent to the device by Services. Device Identifiers may deliver information to us or to a third party partner about how you browse and use the Services and may help us or others provide reports or personalized content and ads. Some features of the Services may not function properly if use or availability of Device Identifiers is impaired or disabled.</p>

                    <p class="caption">Direct Links</p>
                    <p class="text">The Service may contain links to other websites. We are not responsible for the privacy practices of other websites. We encourage users to be aware when they leave the Service to read the privacy statements of other websites that collect personally identifiable information. This Privacy Policy applies solely to information collected by QBis.</p>

                    <p class="caption">Retention</p>
                    <p class="text">We will retain Personal Information that we have collected only as long as necessary for the fulfillment of the purposes for which it was provided.</p>

                    <p class="caption">Consent</p>
                    <p class="text">You hereby consent to our collection, use, disclosure and retention of your Personal Information for the purposes described in this Privacy Policy.</p>
                </div>
            </div>
        </div>

    </div>
</div>