<div id="page">
    <div class="app-page">

        <div class="get-started-now-bg"></div>
        <div class="app-content app-content-outer content-move">
            <div class="conditions-index app-color-mark">
                <div class="app-color-mark content-wrapper text-page">
                    <h3 class="main-caption">Terms of Use</h3>

                    <p class="caption">Use</p>

                    <p class="text">
                        <b>"QBis" </b>is a cloud-hosted SLP (Smart learning platform) that can be used by institutes, accredited universities/colleges and enterprise to facilitate training and learning.
                    </p>

                    <p class="caption">Privacy</p>

                    <p class="text">We will not share any data you store on QBis with any 3rd parties without your express authorization.</p>

                    <p class="caption">Copyright</p>
                    <p class="text">You retain copyright of the materials you upload to the site</p>

                    <p class="caption">
                        Content
                        <br>
                    </p>
                    <p class="text">You should not upload any content that contains a virus or that is unlawful, obscene, or offensive by normal community standards. If we notice this kind of content, then we will ask you to remove it from our site. If you do not comply in a timely fashion, then we reserve the right to delete the content from your site and/or suspend your site.</p>

                    <p class="caption">Password</p>
                    <p class="text">When you sign up to become a member, you will also be asked to choose a password. You are entirely responsible for maintaining the confidentiality of your password. You agree not to use the account, username, or password of another member at any time or to disclose your password to any third party. You agree to notify Cypher Learning immediately if you suspect any unauthorized use of your account or access to your password. You are solely responsible for any and all use of your account.</p>

                    <p class="caption">Service level</p>
                    <p class="text">We use industry best practices to provide a high uptime, including a fault-tolerant architecture hosted in multiple Amazon cloud zones. We do not guarantee a particular uptime, and we do not provide any kind of refund for outages.</p>

                    <p class="caption">Support</p>
                    <p class="text">We strive to respond to support requests within 30 minutes during India business hours (9am to 5pm IST), but we do not guarantee a particular response time.</p>

                    <p class="caption">Bug fixes</p>
                    <p class="text">If a critical bug is reported, we will dedicate our engineering resources to fix the bug as soon as commercially possible. We prioritize and fix non-critical bugs at our discretion.</p>

                    <p class="caption">API access</p>
                    <p class="text">We provide API access to sites. To protect our servers, we enforce an limiting rate on API access. We reserve the rate to block and/or cancel API access in order to protect the smooth functioning of our site.</p>

                    <p class="caption">Backups</p>
                    <p class="text">We create automated on-site and off-site backups of our database. These backups are primarily for the purpose of restoring the production database in the event of a database corruption or other kind of disaster. We provide a trash can feature to allow our users to undo an accidental deletion. If data is deleted due to user error, our support service does not include restoring this data. If data is deleted due to a bug, then we will try to restore the data if it's commercially feasible.
                    </p>

                    <p class="caption">Security</p>
                    <p class="text">We use industry best practices to protect the privacy and security of your data. If we detect a security breach, we will immediately work to fix the issue as well as alert our users if there is a threat to their content or passwords so that they can take appropriate action such as resetting their passwords.</p>

                    <p class="caption">Disputes</p>
                    <p class="text">If there is any dispute about or involving the QBis features, you agree that the dispute shall be governed by the laws of the Govt of India, India.</p>

                </div>
            </div>
        </div>

    </div>
</div>