<div class="blogs">
    <h1 class="text-center header_green bignbold">
     Blogs
      <hr>
    </h1>

    <div class="container padding-tp-20">
        <div class="inner_blog">
            <div class="row">
                <h2 class="col-lg-11 col-md-11 col-sm-12">Why is it Important to Focus on Creating Learning Path?</h2>
                <div class="left-rt-arr col-lg-1 col-md-4 col-sm-2"><i class="fa fa-angle-left" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>               
                    </div>
            </div>
        </div>
        <div class="blog-text">
            <ul>
                <li><a href=""><i class="fa fa-clock-o" aria-hidden="true"></i>28-Dec-2016</a></li>
                <li><a href=""><i class="fa fa-pencil" aria-hidden="true"></i>Bellurbis</a></li>
                <li><a href=""><i class="fa fa-commenting" aria-hidden="true"></i>0</a></li>
            </ul>
        </div>
        <div class="blog-content">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="blog-img">
                    <img ng-src="resources/app/img/blog-1.jpg" alt="blog" />
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
                <div class="blog-day">
                    <p>4 Month ago</p>
                </div>
                <div class="blog-content1">
                    <p>What keeps an employee motivated? Is it money - certainly not, infrastructure - no, colleagues - no. It’s the way company values and nurtures its employees. A few years back, corporates provided the training to their employees but above and beyond that there was nothing, even after all the efforts there was a gap which was hard to figure out. </p>
                </div>
                <div class="blog-readmore">
                    <a href="http://www.bellurbis.com/blog/qbis/why-is-it-important-to-focus-on-creating-learning-path/" target="_blank">Read More...</a>
                </div>
            </div>
        </div>
    </div>
</div>